<div class="overlay">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="testimonials-carousel">
          <ul>
            <li>
              <div class="testimonial">
                <div class="testimonial-img">
                  <img src="images/profile.jpg" alt="Profile image" style="width:250px;">
                </div>
                <blockquote>
                  <p style="font-weight:600;"> My name is Raziyeh.I am a web developer from Bellevue, I enjoy building everything from small business sites to rich interactive web apps. If you are a business seeking a web presence or an employer looking to hire, you can get in touch with me <a href="mailto:raziyeh.bazargan@gmail.com"><span style="color:#fff;text-decoration:underline;">here</span></a>.</p>
                </blockquote>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
