<div class="text-center" style="padding:10px;">
  <a class="btn btn-warning">HTML</a>
  <a class="btn btn-danger">CSS</a>
  <a class="btn btn-success">JavaScript</a>
  <a class="btn btn-danger">jQuery</a>
  <a class="btn btn-warning">AngularJS</a>
  <a class="btn btn-success">Bootstrap</a>
  <a class="btn btn-warning">Typescript</a>
  <a class="btn btn-danger">C# (beginner)</a>
  <a class="btn btn-success">Bower</a>
  <a class="btn btn-danger">Grunt</a>
  <a class="btn btn-warning">SQL server</a>
  <a class="btn btn-success">Github</a>
  <a class="btn btn-danger">TFVC</a>
  <a class="btn btn-success">AJAX</a>
  <a class="btn btn-warning">JASON</a>
</div>
